body {
  font-family: 'Lato', sans-serif;
}

/* Custom Class */
.pointer {
  cursor: pointer;
}

/* HEADER */
.navbar-brand {
  width: 20%;
  display: block;
  text-transform: uppercase;
  color: #978D8D !important;
}

.navbar-collapse {
  width: 80%;
  display: flex;
  justify-content: end;
}

.nav-link {
  font-size: .875rem !important;
  text-transform: uppercase;
  color: #978D8D !important;
}

.active {
  color: #FFF !important;
  font-weight: 700 !important;
}

/* .title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
} */

/* .container-2 {
  max-width: 1200px;
  margin: 0 auto;
} */

/* SERVICES */
.card-service {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #DEE2E6;
  cursor: pointer;
}

.card-service:hover {
  background-color: #DEE2E6;
}

/* PRODUCTS */
/* .products-css {
  width: 100%;  
}

.content-cards {
  display: flex;
  gap: 16px;
}

.card-2 {
  width: 25%;
  height: 300px;
  background-color: beige;
} */

/* FOOTER */
.footer {
  width: 100%;
  color: #FFFFFF;
  padding: 1rem 0;
  background-color: #323232;
}